:root{
  --bg-sidebar-color: #101010;
  --bg-content-color: #fff;
  --bg-grafico-color: #eeeded;
  --font-active-color: #fff;
  --font-size: 25px
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a{
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}

.container{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: var(--bg-sidebar-color);


}

.sidebar{
  font-size: var(--font-size);
  width: 300px;
  color: var(--font-active-color);
  background: var(--bg-sidebar-color);
row-gap: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.menuSidebar{
  width: 100%;
  font-size: var(--font-size);
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.containerWrapper{
  gap: 100px;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: var(--bg-content-color);
  background: linear-gradient(to right, #fafaf9, #f8ead1);

  border-radius: 30px 0px 0px 30px;
}

.infoContainer{
/* background: var(--bg-content-color); */
width: 100%;
height: 100vh;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
}

.graficosContainer{
/* background: var(--bg-grafico-color); */
width: 600px;
height: 100vh;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
}

    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }