body {
    background: linear-gradient(to right, #fafaf9, #f8ead1);
    margin: 0;
    font-family:sans-serif; 
}

.yellow-square {
    background: linear-gradient(to right, #faf6e7, #f7dca9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.LoginPainel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0% !important;
    padding-bottom: 4% !important;
}

.LoginTela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginTela button{
    width: 100%;
    line-height: 66%;
    background-color: #c4f5d2;
    outline: auto;
    outline-color: rgb(90, 83, 83);
}

.Logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Logo img{
    width: 41%;
}

.LoginTela button:hover{
    background-color: #a6dab5;
}

.LoginTela button:focus{
    outline: auto !important;
    outline-color: rgb(90, 83, 83);
}

.User {
    padding: 5px 8px;
}

.pswrd {
    padding: 5px 8px;
}

.Email {
    padding: 5px 8px;
}

#cpf {
    padding: 5px 8px;
}

button {
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.responsive {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .yellow-square {
        height: 50vh;
    }
}

h3 {text-align: center;}
p {text-align: center;}
